body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('IMAGENES/logo_inviza.jpg') no-repeat center center fixed; /* Fondo con imagen */
    background-size: cover;
    background-color: #f4f4f9; /* Color suave para el fondo general */
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', 'Lato', Arial, sans-serif;
}

/* Encabezado */
header {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 8px 0;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header .container {
    display: flex;
    justify-content: center; /* Centra los elementos en el contenedor */
    align-items: center; /* Centra verticalmente los elementos */
    max-width: 1100px;
    margin: 0 auto;
}

header .logo img {
    width: 80px; 
    border-radius: 5px;
}

header .title {
    font-size: 24px; /* Tamaño ajustado */
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0 20px; /* Ajuste del margen */
    color: #eff0f1; /* Azul de marca */
}

header .actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos */
}

header .actions .time {
    font-size: 1rem;
    color: #fff;
    margin-right: 20px; /* Ajuste del margen */
}

header .actions button {
    background-color: #0db13e; /* Botón azul de marca */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

header .actions .access-button {
    border: 2px solid #5a67d8; /* Botón púrpura */
    transition: all 0.3s ease;
}

header .actions .access-button:hover {
    background-color: #434190;
}

header .actions .back-button {
    background-color: #fff;
    color: #5a67d8;
    border: 2px solid #5a67d8;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

header .actions .back-button:hover {
    background-color: #5a67d8;
    color: #fff;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    gap: 20px;
}

.container .form-container {
    width: 60%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container .photo-container {
    width: 30%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(21, 187, 62, 0.1);
    border-radius: 8px;
    text-align: center;
}

.form-container .form-group,
.photo-container .form-group {
    margin-bottom: 15px;
}

.form-container .form-group label,
.photo-container .form-group label {
    font-weight: bold;
    font-size: 1rem;
}

.form-container .form-group input,
.photo-container .form-group input,
.form-container .form-group select,
.photo-container .form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

.form-container .form-group input:focus,
.photo-container .form-group input:focus,
.form-container .form-group select:focus,
.photo-container .form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.form-footer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.form-footer button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.form-footer button:hover {
    background-color: #218838;
}

.photo-container img {
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.photo-container button {
    background-color: #23b310;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.photo-container button:hover {
    background-color: #0fb300;
}

/* Estilo para la hora */#currentTime {
    font-size: 1.2rem;
    color: #fff;
}

/* Ajuste para centrar la hora y el ícono */
header .actions {
    justify-content: space; 
    gap: 20px; /* Espaciado entre los elementos */
    margin-left: 20px;
}

/* Estilo de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #333; /* Gris oscuro para encabezados */
    color: #fff;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

td {
    background-color: #fff; /* Fondo blanco para celdas */
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: #f4f4f4;
}

/* Contenido principal */
.main-content {
    text-align: center;
    padding-left: 20px;
}

.user-photo {
    float: right;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    border: 3px solid #333;
    margin-bottom: 20px;
    margin-top: -30px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #5a67d8;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* Módulos principales (centrados en dos filas de cinco columnas) */
.modules-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.module-item {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
}
