* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #292828; 
    color: #e4dbdb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 80px;
    margin-right: 20px;
}

header .actions {
    display: flex;
    align-items: center;
}

header .time {
    font-size: 18px;
    margin-right: 20px;
}

header button {
    padding: 10px 20px;
    background-color: #1ab63c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #c8d1c9;
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #31bb15;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Barra de búsqueda */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-container button {
    background-color: #2fc00a;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #dbd7d5;
}

.page-controls {
    display: center;
    align-items: flex;
    gap: 15px;
}

.page-controls select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #141313;
    border-radius: 4px;
}

.add-button {
    background-color: #2a9d8f;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
header .actions button {
    background-color: #0db13e; /* Botón azul de marca */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}


table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0ba313;
    color: #fff;
}

table td {
    background-color: #f9f9f9;
}

table td button {
    padding: 6px 12px;
    font-size: 14px;
    background-color: #12b612;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

table td button:hover {
    background-color: #c2bebc;
}
