body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
/*estilos  generales  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Open Sans', 'Lato', Arial, sans-serif;
}


header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 50px;
}

header .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

header .actions {
    display: flex;
    align-items: center;
}

header .actions .time {
    margin-right: 20px;
    font-size: 18px;
}

header .actions button {
    background-color: #0db13e; /* Botón azul de marca */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.form-container {
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.photo-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.photo-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.photo-container button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-footer button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-footer button:nth-child(2) {
    background-color: #e74c3c;
}

.form-footer button:hover {
    opacity: 0.8;
}
footer{
    background-color: #057418;
    color: rgb(225, 235, 228);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}