
/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d0e0d;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #141313;
    border-radius: 10px;
    background-color: #eceaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #e8e9eb;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #50e25c;
}

a {
    text-decoration: none;
    color: #2478f5;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0c0d0e;
    text-decoration: underline;
}

.back-btn {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    background-color: #15ce1f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-btn:hover {
    background-color: #ece7e5;
    transform: scale(1.05);
}

